<!-- <form action="/users" method="post" accept-charset="UTF-8">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]">
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]">
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]">
  <input type="submit" value="submit">
</form> -->

<!-- <%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %>
  <%= label_tag(:email, "E-mail:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Create") %>
<% end %> -->

<%= form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being created:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.label :username, "Your username here" %>
  <%= form.text_field :username, :value => "johndoe" %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "example@example.com" %>
  <%= form.submit "Submit" %>
<% end %>
